Django~=3.2.20

# PostgreSQL adapter
psycopg2-binary~=2.9.7
requests~=2.31.0

# User authentication and subscription.
django-allauth~=0.54.0
django-jsonify~=0.3.0

# Sql editor.
-e git+https://github.com/trentino-sistemi/django-sql-explorer.git@2.3_update#egg=django_sql_explorer

# Excel 1997 xls export.
xlwt~=1.3.0

# Excel 2007 xlsx export.
openpyxl~=3.0.10

# Library to open excel.
xlrd~=2.0.1

# In order to connect to the source M$ Sql server with odbc
pyodbc~=4.0.39
# replacing django-pyodbc
# django-pyodbc-azure or django-mssql-backend might be alternatives
# requires microsoft odbc driver (msodbcsql17 package)
mssql-django~=1.3

# In order to use bopotstrap in the django admin site
#tendenci-django-admin-bootstrapped~=5.0
-e git+https://github.com/trentino-sistemi/django-admin-bootstrapped@static#egg=tendenci-django-admin-bootstrapped

# Used for rdf export.
rdflib~=6.3.2

# Used for pivot and export in various formats.
pandas~=1.3.5
# Inherited by pandas
numpy~=1.21.6

# To export images in excel 2007.
Pillow~=9.5.0
