Django==1.6.11

# PostgreSQL adapter
psycopg2==2.5.2
requests==2.2.1

# User authentication and subscription.
django-allauth==0.16.1
django-jsonify

# Sql editor.
-e git+https://github.com/trentino-sistemi/django-sql-explorer.git#egg=django_sql_explorer-dev

# Excel 1997 xls export.
xlwt

# Excel 2007 xlsx export.
openpyxl==2.1.2

# Library to open excel.
xlrd==0.9.3

# In order to connect to the source M$ Sql server with odbc
pyodbc
django-pyodbc

# In order to use bopotstrap in the django admin site
django-admin-bootstrapped==1.6.5

# Used for rdf export.
rdflib

# Used for pivot and export in various formats.
pandas==0.18.1
# Inherited by pandas
numpy==1.11.0

# To export images in excel 2007.
Pillow==9.3.0
