.pvtAxisContainer, .pvtVals {
    border: 1px solid #375a7f;
    padding: 5px;
    min-width: 20px;
    min-height: 20px;
}
.pvtAxisContainer li {
    padding: 8px 6px;
    list-style-type: none;
    cursor:move;
}

.pvtAxisContainer li span.pvtAttr {
    background: #375a7f;
    border: 1px solid #375a7f;
    color: white;
    padding: 2px 5px;
    white-space:nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pvtHorizList li { display: inline; }
.pvtVertList { vertical-align: top; }


#button{text-align:center}
p, input{display:inline-block}

.btn-default .caret {
  border-top-color: #FFFFFF;
}

